Source: ros-kinetic-summit-x-sim
Section: misc
Priority: extra
Maintainer: Carlos Villar <cvillar@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/summit_x_sim
Standards-Version: 3.9.2

Package: ros-kinetic-summit-x-sim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-summit-x-control, ros-kinetic-summit-x-gazebo, ros-kinetic-summit-x-robot-control
Description: The summit_x_sim metapackage
