Source: ros-indigo-summit-x-sim-bringup
Section: misc
Priority: extra
Maintainer: Carlos Villar <cvillar@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://wiki.ros.org/summit_x_sim_bringup
Standards-Version: 3.9.2

Package: ros-indigo-summit-x-sim-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-gazebo-ros, ros-indigo-summit-x-control, ros-indigo-summit-x-description, ros-indigo-summit-xl-pad, ros-indigo-twist-mux
Description: Launch files for Summit-X simulation.
