Source: ros-indigo-summit-x-control
Section: misc
Priority: extra
Maintainer: Román Navarro <rnavarro@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: https://github.com/RobotnikAutomation/summit_x_control
Standards-Version: 3.9.2

Package: ros-indigo-summit-x-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-robot-state-publisher, ros-indigo-ros-control, ros-indigo-ros-controllers, ros-indigo-summit-x-description, ros-indigo-summit-xl-pad
Description: This package contains the launch files that load the required controller interfaces for simulation in Gazebo.
